$backgroundColor: #F5F5F5;
$colorBlack: #000000;
$colorLightBlack: #1F1F1F;
$colorLightGray: #717171;
$colorWhite: #FFFF;
$colorGrayForm: #8D8D8D;

$croppedCircle: url('../images/cropped-circle.png');
$whiteCircle: url('../images/circleWhite.png');
$radioCircle: url('../images/radio.png');
$radioChecked: url('../images/radio-checked.png');
