@font-face {
  font-family: 'InterBolt';
  src: url('../fonts/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'RobotoNormal';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'PoppinsNormal';
  src: url('../fonts/Poppins-Light.ttf');
}